@using RestaurantOnlineBooking.Services.Data.Interfaces
@using RestaurantOnlineBookingApp.Data.Models
@using System.Security.Claims
@model IEnumerable<Photo>

@inject IOwnerService OwnerService
@{
    bool isUserOwnerOfTheRestaurant = await OwnerService.HasRestaurantWithIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), ViewBag.RestaurantId);
    bool isUserOwner = await OwnerService.OwnerExistByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
}
<h2>Restaurant Photos</h2>

@if (!Model.Any())
{
    <p>No photos available</p>
}
else
{
    <div class="row">
        @foreach (var photo in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="@photo.Url" target="_blank">
                        <img src="@photo.Url" class="card-img-top" alt="Restaurant Photo" style="cursor: pointer;" />
                    </a>
                    <div class="card-body">
                        <form method="post" asp-controller="Restaurant" asp-action="DeletePhoto">
                            <input type="hidden" name="photoId" value="@photo.Id" />
                            <input type="hidden" name="restaurantId" value="@photo.RestaurantId" /> <!-- Добавете скрито поле за restaurantId -->
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- Add New Photo Button -->
@if (isUserOwner && isUserOwnerOfTheRestaurant)
{
    <div>
        <h3>Upload New Photo</h3>
        <form method="post" enctype="multipart/form-data" asp-controller="Restaurant" asp-action="UploadPhotos">
            <input type="hidden" name="restaurantId" value="@ViewBag.RestaurantId" />  
            <div class="mb-3">
                <label for="photoFiles" class="form-label">Select Photo(s):</label>
                <input type="file" class="form-control" id="photoFiles" name="photoFiles" accept="image/*" multiple required>
            </div>
            <button type="submit" class="btn btn-primary">Upload Photos</button>
        </form>
    </div>
}