@using RestaurantOnlineBooking.Services.Data.Interfaces
@using static RestaurantOnlineBookingApp.Infrastructure.Extensions.ClaimsPrincipalsExtensions
@using System.Security.Claims
@model RestaurantDetailsViewModel
@{
    ViewBag.Title = "Restaurant Details";
}
@inject IRestaurantService RestaurantService
@inject IOwnerService OwnerService
@{
    bool isUserOwnerOfTheRestaurant = await OwnerService.HasRestaurantWithIdAsync(User.GetId(), Model.Id);
    bool isUserOwner = await OwnerService.OwnerExistByIdAsync(User.GetId());
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <!-- Wrap the image inside an anchor tag -->
            <a href="@Model.ImageUrl" target="_blank">
                <img class="card-img-top" style="width: 100%;" src="@Model.ImageUrl" alt="Restaurant Image">
            </a>
            @if (this.User.Identity.IsAuthenticated)
            {
                @if (isUserOwner && isUserOwnerOfTheRestaurant || User.IsAdmin())
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Restaurant" asp-action="ChangeMainPhoto">
                        <input type="hidden" name="restaurantId" value="@Model.Id" />
                        <div class="mb-3">
                            <label for="newMainPhoto" class="form-label">Select New Main Photo:</label>
                            <input type="file" class="form-control" id="newMainPhoto" name="newMainPhoto" accept="image/*" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Main Photo</button>
                    </form>
                    <a class="mt-2 btn btn-primary" asp-controller="Booking" asp-action="AllByRestaurant"
                       asp-route-restaurantId="@Model.Id">View Reservations</a>
                    <a class="mt-2 btn btn-primary" asp-controller="Meal" asp-action="AddMeal"
                       asp-route-restaurantId="@Model.Id">Add Meal to Menu</a>
                    <a class="mt-2 btn btn-primary" asp-controller="Event" asp-action="Create"
                       asp-route-restaurantId="@Model.Id">Create Event</a>
                    <a class="btn btn-warning mt-2" asp-controller="Restaurant" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit Restaurant Info</a>
                    <a class="mt-2 btn btn-danger" asp-controller="Restaurant" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete Restaurant</a>
                }
                else
                {
                    <a asp-controller="Review" asp-action="AddReview" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">Add Review</a>
                    @if (await RestaurantService.IsRestaurantInFavoritesAsync(User.GetId(), Model.Id))
                    {
                        <form asp-controller="Restaurant" asp-action="RemoveRestaurantFromFavorites" method="post">
                            <input type="hidden" name="restaurantId" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger mt-2">Remove from Favorites</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Restaurant" asp-action="AddRestaurantToFavorites" method="post">
                            <input type="hidden" name="restaurantId" value="@Model.Id" />
                            <button type="submit" class="btn btn-primary mt-2">Add to Favorites</button>
                        </form>
                    }
                }               
            }
            <a asp-controller="Booking" asp-action="BookTable" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">Book Table</a>
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>City: <b>@Model.City</b></p>
            <p>Address: <b>@Model.Address</b></p>
            <p>Description: <b>@Model.Description</b></p>
            <p>Opening Time: <b>@Model.OpeningTime.ToString(@"hh\:mm")</b></p> @* formated TimeSpan *@
            <p>Closing Time: <b>@Model.ClosingTime.ToString(@"hh\:mm")</b></p>
            <p>Rating: <b>@Model.Rating</b></p>
            <p>Capacity: <b>@Model.Capacity</b></p>
            <p>Category: <b>@Model.Category</b></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contact Restaurant</h5>
                    <p class="card-text">Phone Number: @Model.OwnerInfo.PhoneNumber</p>
                    <p class="card-text">Email: @Model.OwnerInfo.Email</p>
                    @if (Model.OwnerInfo.FullName != null)
                    {
                        <p class="card-text">Owner Name: @Model.OwnerInfo.FullName</p>
                    }
                </div>
            </div>
            <a asp-controller="Restaurant" asp-action="AllPhotos" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">View Photos</a>
            <a asp-controller="Restaurant" asp-action="Menu" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">View Menu</a>
            <a asp-controller="Review" asp-action="All" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">View All Reviews</a>
            <a asp-controller="Event" asp-action="AllByRestaurant" asp-route-restaurantId="@Model.Id" class="btn btn-primary mt-2">View All Restaurant Events</a>
           
        </div>
    </div>
</div>