@model (IEnumerable<MealAllViewModel> Meals, bool IsOwner)
@using RestaurantOnlineBooking.Services.Data.Interfaces
@using RestaurantOnlineBookingApp.Web.ViewModels.Meal
@using static RestaurantOnlineBookingApp.Infrastructure.Extensions.ClaimsPrincipalsExtensions
@using System.Security.Claims
@using System.Globalization


<h1 style="color: white;">Restaurant Menu</h1>

@if (Model.Meals.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Name</th>
                <th style="color: white;">Description</th>
                <th style="color: white;">Image</th>
                <th style="color: white;">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model.Meals)
            {
                <tr>
                    <td style="color: white;">@meal.Name</td>
                    <td style="color: white;">@meal.Description</td>
                    <!-- Wrap the image inside an anchor tag -->
                    <td style="color: white;">
                        <a href="@meal.ImageUrl" target="_blank">
                            <img src="@meal.ImageUrl" class="meal-image" alt="Meal Image">
                        </a>
                    </td>
                    <td style="color: white;">@meal.Price.ToString("0.00", CultureInfo.InvariantCulture)</td>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (Model.IsOwner || this.User.IsAdmin())
                        {
                            <td>
                                <a asp-controller="Meal" asp-action="Edit" asp-route-id="@meal.Id" class="btn btn-warning">Edit</a>
                                <form asp-controller="Meal" asp-action="Delete" asp-route-id="@meal.Id" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this meal?')">Delete</button>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="color: white;">No meals found in the menu.</p>
}

<style>
    /* Define custom CSS styles for the image */
    .meal-image {
        max-width: 100px; /* Set the maximum width of the image */
        max-height: 100px; /* Set the maximum height of the image */
    }
</style>