@model List<MealAllViewModel>
@using RestaurantOnlineBookingApp.Web.ViewModels.Meal

<h1 style="color: white;">All Meals in Restaurant</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Name</th>
                <th style="color: white;">Description</th>
                <th style="color: white;">Image</th>
                <th style="color: white;">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
                <tr>
                    <td style="color: white;">@meal.Name</td>
                    <td style="color: white;">@meal.Description</td>
                    <td style="color: white;">
                        <a href="@meal.ImageUrl" target="_blank">
                            <img src="@meal.ImageUrl" class="card-img-top" alt="Meal Image">
                        </a>
                    </td>
                    <td style="color: white;">@meal.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="color: white;">No meals found in this restaurant.</p>
}
