@model RestaurantFormModel
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Title">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Address">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
<textarea asp-for="Description" rows="4" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" placeholder="Capacity">
                <span asp-validation-for="Capacity" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label">Starting Time</label>
                <input type="time" asp-for="StartingTime" class="form-control" value="@DateTime.Today.Add(Model.StartingTime).ToString("HH:mm")" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingTime" class="control-label">Ending Time</label>
                <input type="time" asp-for="EndingTime" class="form-control" value="@DateTime.Today.Add(Model.EndingTime).ToString("HH:mm")" />
                <span asp-validation-for="EndingTime" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <label asp-for="CityId"></label>
                <select asp-for="CityId" class="form-control">
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
                <span asp-validation-for="CityId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>