@model IEnumerable<RestaurantOnlineBookingApp.Web.ViewModels.Event.EventViewModel>

<div>
    <a href="@Url.Action("Details", "Restaurant", new { id = ViewBag.RestaurantId })" class="btn btn-secondary">Back to Restaurant Details</a>
</div>

@if (Model.Any())
{
    <h2>All Events</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Wrap the image inside an anchor tag -->
                    <a href="@item.ImageUrl" target="_blank">
                        <img src="@item.ImageUrl" class="card-img-top" alt="Event Image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Price: @item.Price</p>
                        <div class="card-text">Date: @item.Date.ToString("dd/MM/yyyy")</div>
                        <div class="card-text">Time: @item.Time.ToString("hh\\:mm")</div>
                        <form asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" method="get" style="display: inline;">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        <form asp-controller="Event" asp-action="DeleteEvent" asp-route-eventId="@item.Id.ToString()" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this meal?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>No events available at the moment.</h2>
}
