@using RestaurantOnlineBookingApp.Web.ViewModels.Review
@model ReviewViewModel

@{
    ViewData["Title"] = "Restaurant Reviews";
}

<div>
    <a href="@Url.Action("Details", "Restaurant", new { id = ViewBag.RestaurantId })" class="btn btn-secondary">Back to Restaurant Details</a>
</div>

<div class="form-group col-md-5">
    <label asp-for="SortBy" class="form-check-label">Sort by:</label>
    <select asp-for="SortBy" class="form-control" onchange="sortReviews()">
        <option value="RatingAscending">Rating Ascending</option>
        <option value="RatingDescending">Rating Descending</option>
        <option value="DateNewest">Date Newest</option>
        <option value="DateOldest">Date Oldest</option>
    </select>
</div>

<style>
    .card-text, .card-title {
        font-size: 25px; 
    }
</style>

<div class="row">
    @foreach (var review in Model.Reviews)
    {
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Guest Name:</strong> @($"{review.FirstName} {review.LastName}")</p>
                    <h6 class="card-title"><strong>Rating:</strong> @review.ReviewRating</h6>
                    <p class="card-text"><strong>Comment:</strong> @review.Comment</p>
                    <p class="card-text"><strong>Date Added:</strong> @review.CreatedAt.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.Reviews.Any())
{
    <h2>No reviews available.</h2>
}

<script>
    function sortReviews() {
        var sortBy = document.getElementById("SortBy").value;
        var restaurantId = "@ViewBag.RestaurantId";
        window.location.href = "/Review/SortReviews?restaurantId=" + restaurantId + "&sortBy=" + sortBy;
    }
</script>