@model IEnumerable<RestaurantOnlineBookingApp.Web.ViewModels.Review.ReviewAllViewModel>

@{
    ViewData["Title"] = "Restaurant Reviews";
}

<form method="get" asp-controller="Review" asp-action="Sort">
    <input type="hidden" name="restaurantId" value="@Model.FirstOrDefault()?.RestaurantId" />
    <select name="sortBy" onchange="this.form.submit()">
        <option value="ratingAsc">Sort by Rating (Ascending)</option>
        <option value="ratingDesc">Sort by Rating (Descending)</option>
        <option value="dateNewest">Sort by Date (Newest First)</option>
        <option value="dateOldest">Sort by Date (Oldest First)</option>
    </select>
</form>


@if (Model.Any())
{
    <h2 style="color: white;">@ViewData["Title"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Rating</th>
                <th style="color: white;">Comment</th>
                <th style="color: white;">Guest Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td style="color: white;">@review.ReviewRating</td>
                    <td style="color: white;">@review.Comment</td>
                    <td style="color: white;">@review.GuestEmail</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No reviews available.</h2>
}