@using Microsoft.AspNetCore.Identity
@using RestaurantOnlineBooking.Services.Data
@using RestaurantOnlineBooking.Services.Data.Interfaces
@using RestaurantOnlineBookingApp.Data.Models
@using System.Security.Claims
@inject UserManager<AppUser> userManager
@inject IOwnerService OwnerService
@{
    bool isUserOwner = await OwnerService.OwnerExistByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
}
@model IEnumerable<AllRestaurantsViewModel>
@using static RestaurantOnlineBookingApp.Infrastructure.Extensions.ClaimsPrincipalsExtensions
@{
    ViewData["Title"] = "Home Page";
    var restaurants = Model.OrderByDescending(r => r.Rating).ToList();
}

@if (!restaurants.Any())
{
    <div class="text-center">
        <h1>No restaurants available</h1>
        <img src="https://res.cloudinary.com/daznmgjey/image/upload/v1711484722/ctemyck2xulzqopj4hjw.jpg" alt="No restaurants available" style="height: 700px;">
    </div>
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-4">Top Rated Restaurants</h2>
                <div id="restaurantCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < restaurants.Count(); i++)
                        {
                            var restaurant = restaurants[i];
                            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                                <img src="@restaurant.ImageUrl" class="d-block mx-auto img-fluid" alt="@restaurant.Name" style="max-width: 100%; max-height: 100%;">
                                <div class="text-center">
                                    <h5 style="font-size: 2em; margin-bottom: 0;">@restaurant.Name</h5>
                                    <p style="font-size: 1.5em; margin-bottom: 0;">@restaurant.City</p>
                                </div>
                                <div class="carousel-buttons text-center">
                                    <a href="@Url.Action("Details", "Restaurant", new { id = restaurant.Id })" class="btn btn-primary" style="margin-top: 10px;">View Details</a>
                                </div>
                            </div>                           

                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-md-4">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-md-12">
                        <h2 class="mb-4">Welcome to Restaurant Online Booking App!</h2>
                        <p>We're delighted to have you here. Explore our top-rated restaurants and discover delicious dining options. Whether you're craving a cozy cafe, a fine dining experience, or something in between, we've got you covered. Start your culinary journey now!</p>
                        <p>If you're a restaurant owner, you can showcase your restaurant on our platform and reach a wider audience. Join us and let diners discover your culinary delights!</p>
                    </div>
                }
                else
                {
                    if (!isUserOwner)
                    {
                        var user = await userManager.FindByNameAsync(User.Identity.Name);
                        if (user != null)
                        {
                            <div class="col-md-12">
                                <h2 class="mb-4">Welcome back, @user.FirstName!</h2>
                                <p>Ready to discover more delicious dining options? Explore our top-rated restaurants and find your next favorite spot. Don't forget, you can easily reserve a table at your chosen restaurant directly through our platform. Let's make your dining experiences memorable!</p>
                            </div>

                        }
                    }
                    else
                    {
                        <div class="col-md-12">
                            <h2 class="mb-4">Welcome to the Owner's Panel!</h2>
                            <p>Manage your restaurant. Add new meals, update your menu, and interact with your customers. Make your restaurant stand out and attract more diners!</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

